body{
    margin: 0;
    background-color: #0d8d00;
}
.wrapper{
    padding-left: 10%;
    padding-right: 10%;
    position: static;
}
h1{
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30pt;
    margin-bottom: 1px;
    color: white;
}
img{
    width: 200px;
    height: 200px;
}