body{
    margin: 0;
    background-color: gray;
}
.wrapper{
    padding-left: 10%;
    padding-right: 10%;
    position: static;
}
h1{
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30pt;
    margin-bottom: 1px
}
img{
    width: 200px;
    height: 200px;
}